/*
page sizing
*/
*
{
    box-sizing: border-box;
}

/*
html styling
*/
html
{
    min-height: 100vh;
}

/*
body styling
*/

body
{
<<<<<<< HEAD
    background-image:linear-gradient(-125deg,#000000,#0c0f0c,#0a0e0d,#110e0e,#130e14,#000000);
=======
    background-image:linear-gradient(-125deg,#000000,#2A272A,#4B4A54,#0B2029);
>>>>>>> 81ff2f69c4362234fdb283df6491560adf44337e
    background-size: 400%;
    animation: bganimation 5s infinite;
}

/*
text styling
*/

.gameTitle
{
    font-family: Impact, Helvetica, sans-serif;
<<<<<<< HEAD
    color: #00ff80;
    text-align: center;
    font-size: 50px;
=======
    color: #00ffcc;
    text-align: center;
    font-size: 30px;
>>>>>>> 81ff2f69c4362234fdb283df6491560adf44337e
    font-weight: bolder;
}

.gameInfoContainer
{
    grid-column: 1 /-1;
    display: flex;
    justify-content: space-between;
}

.gameInfo
{
    font-family: Impact, Helvetica, sans-serif;
<<<<<<< HEAD
    color: #ffffff;
=======
    color: #ff002b;
>>>>>>> 81ff2f69c4362234fdb283df6491560adf44337e
    font-size: 25px;
    font-weight: bolder;
}

/*
card container
*/
.gameContainer
{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1em;
    margin: 2em;
    justify-content: center;
<<<<<<< HEAD
=======

>>>>>>> 81ff2f69c4362234fdb283df6491560adf44337e
    border-radius: 2px;
    opacity: 0.85;
    perspective: 500px;
}

/*
cards
*/
.card
{
    position: relative;
    background: #ececec;
<<<<<<< HEAD
    height: 130px;
    width: 130px;
    margin: 5px;
    cursor: pointer;
    border-radius: 2%;
    background-image: linear-gradient(-125deg,#14ffe9, #ffeb3b, #ff00e0);
    animation: rainbow 5s linear infinite;
    background-size: 400%;
=======
    height: 120px;
    width: 125px;
    margin: 5px;
    cursor: pointer;
    border-radius: 2px;
>>>>>>> 81ff2f69c4362234fdb283df6491560adf44337e
}

.card.visible .cardBack
{
    transform: rotateY(-180deg);
}

.card.visible .cardFront
{
    transform: rotateY(0);
}

.card.matched .cardValue
{
    animation:  dance 1s linear infinite 500ms;
}

.cardFront
{
<<<<<<< HEAD
    transform: rotateY(180deg);
    padding:15%;
=======
    transform: rotateY(180deg)
>>>>>>> 81ff2f69c4362234fdb283df6491560adf44337e
}

.cardFace
{
    position: absolute;
    height: 100%;
<<<<<<< HEAD
    width: 100%;
=======
    widows: 100%;
>>>>>>> 81ff2f69c4362234fdb283df6491560adf44337e
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.backFaceImg
{
<<<<<<< HEAD
    height: 130px;
    width: 130px;
    border-radius: 1%;
    border: 5px #beffef solid;
=======
    height: 120px;
    width: 125px;
    border-radius: 2px;
>>>>>>> 81ff2f69c4362234fdb283df6491560adf44337e
}

/*
front face font awesome
*/

.cardValue
{
<<<<<<< HEAD
    width: 60%;
    height: 60%;
=======
    padding-left: 50%;
    font-size: 10vh;
>>>>>>> 81ff2f69c4362234fdb283df6491560adf44337e
}

.fa-angry
{
    color: #cc1d1d;
    
}

.fa-smile-wink
{
    color: #fbff00;
}

.fa-grin-squint-tears
{
    color: #15AABF;
}

.fa-grin-tongue-squint
{
    color: #db4b8c;
}

.fa-surprise
{
    color: #FD7E14;
}

.fa-flushed
{
    color: #7f33f1;
}


/*
Keyframes
*/

/*
<<<<<<< HEAD
card background rainbow
*/

@keyframes rainbow
{
    0%
    {
        background-position: 0% 50%;
    }

    50%
    {
        background-position: 100% 50%;
    }

    100%
    {
        background-position: 0% 50%;
    }
}

/*
=======
>>>>>>> 81ff2f69c4362234fdb283df6491560adf44337e
back ground animation
*/
@keyframes bganimation
{
    0%
    {
        background-position: 0% 50%;
    }

    50%
    {
        background-position: 100% 50%;
    }

    100%
    {
        background-position: 0% 50%;
    }
}

/*
matched card dance animation
*/

@keyframes dance
{
    0%, 100%
    {
        transform: rotate(0);
    }

    25%
    {
        transform: rotate(30deg);
    }

    75%
    {
        transform: rotate(-30deg);
    }
}